.profileMain {
  position: relative;
  z-index: 1;
}

.profileHeroBg {
  position: relative;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.profileHeroBg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.profileOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), var(--color-bg));
  z-index: 1;
}

.profileInfo {
  position: relative;
  z-index: 2;
  padding: 4em 2em;
  color: var(--color-text);
  text-align: center;
}

.profileInfo h1 {
  font-size: var(--font-lg);
  color: var(--color-accent);
}

.profileInfo p {
  font-size: var(--font-md);
  margin-top: 0.5em;
  font-family: sans-serif;
  font-weight: 300;
}

.profileSkinsSection {
  padding: 4em 2em;
}

.profileSkinsSection h2 {
  font-size: var(--font-lg);
  color: var(--color-accent);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1em;
  text-align: center;
}

.friendSearch {
  padding: 0.75em;
  font-size: 1em;
  margin: 1em auto 2em;
  display: block;
  width: 100%;
  max-width: 400px;
  border: 2px solid #ccc;
  border-radius: 0.4em;
  font-family: var(--font-main);
}

.friendList {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.friendCard {
  background: rgba(255, 255, 255, 0.05);
  padding: 1.2em;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-lg);
}

.friendName {
  font-size: 1.4em;
  color: var(--color-text);
  font-family: var(--font-main);
}

.friendButtons {
  display: flex;
  gap: 1em;
}

.friendBtn {
  padding: 0.6em 1.2em;
  background-color: var(--color-accent);
  color: #000;
  font-family: var(--font-main);
  font-size: 1em;
  border: none;
  border-radius: 0.4em;
  cursor: pointer;
  transition: background 0.2s ease;
  text-decoration: none;
}

.friendBtn.block {
  background-color: #8b0000;
  color: #fff;
}

.friendBtn:hover {
  filter: brightness(1.1);
}
